{% extends 'base.html' %}

	{% block content %}


			<form class="form-login" method="POST">
				
				<h2 class="form-login-heading">Welcome Back Friend</h2>
				<h3>Won't you sign in?<h3>

		<!--"Will redirect page when submit is pushed"-->

			<form action="/login_submit" method="POST">
				
				<label>Email:
					<input type="text" name="email">
				</label>		
				<br>
				<br>
				<label>Password:
					<input type="password" name="password">
				</label>	
				<br>
				<br>
				<input type="submit" value="Join my fellow community members!">
				<br>
				<br>
				<br>
				<br>
			</form>

			<form action="/signup" method="GET">

				<input type="radio" name="new_user" value="new_user">I'm new and I want to join the community!
				<br>
				<br>
				<input type="submit" value="Join the community">
			</form>


{% endblock %}