{% extends 'base.html' %}

  {% block content %}
  

<form action="/search" method="GET">

<label>
  <h3>What interests you?</h3>
  <h6>(Search by keyword)</h6>
</label>
<select name="keyword">
  <option value="Animals">Animals</option>
  <option value="ArtsCulture">Arts and Culture</option>
  <option value="ChildYouth">Children and Youth</option>
  <option value="Community Services">Community Services</option>
  <option value="Community">Community</option>
  <option value="Disabilities">Disabilities</option>
  <option value="Education">Education</option>
  <option value="Elderly">Elderly</option>
  <option value="Environment">Environment</option>
  <option value="Homelessness">Homelessness</option>
  <option value="Hospices">Hospices and Hospitals</option>
  <option value="HumanRights">Human Rights</option>
  <option value="IntAidAgency">International Aid Agency</option>
  <option value="MedHealth">Medical and Health</option>
  <option value="Religious">Religion</option>
  <option value="SportsLeisure">Sports and Leisure</option>
</select>
<br>
<input type="submit" value="Search">
 



{% endblock %}